:root {
    --imgHight: 330px;
}
#image{
    height: 300px;
    object-fit: cover;
    border: 1px solid rgb(123, 179, 123);
    border-radius: 10px;
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(41, 41, 41, 0.19);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#image:hover{
    box-shadow: 2px 5px 2px 5px rgb(160, 160, 252);
    height: var(--imgHight);
}

#info{
    background-color: rgb(160, 202, 160);
    border-radius: 15px;
}

#formDiv form{
    width: 70%;
    text-align: start;
    color:  rgb(68, 117, 68);
}

#formDiv{
    background-color: rgb(187, 212, 187);
    width: 80%;
    border-radius: 15px;
}
#btn{
    background-color: rgb(141, 212, 141);
    color:  white;
}
label , #btn{
    font-weight: bold;
}
h2{
    color: rgb(121, 83, 83);
}
h1{
    color: rgb(83, 138, 83);
}