@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Session>
@{
    ViewData["Title"] = "GetAll";
}


<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/hallStyle.css">

<div class="container-fluid">
    <div class="row" id="hall">
        <img src="/images/halls (3).jpg" alt="">
    </div>
    <div class="row text-center justify-content-center">
        <h1 class="mt-5 mb-5">The most famous and best wedding Session in Egypt</h1>
        @foreach (Session session in Model)
        {
            <div class="col-lg-3 col-md-5 col-sm-12 mt-3 me-3">
                <div id="hallCard">
                    <img src="/images/@session.ImageUrl" alt="" class="mt-1">
                    <p class="m-2">@session.Name</p>
                    <hr class="m-2">
                    <strong class="m-2">View / request price</strong>
                    <a asp-controller="Session" asp-action="Details" asp-route-id="@session.Id"><i class="fa-solid fa-circle-arrow-right" style="font-size: 20px;"></i></a>
                    @*                     <a href="/Hall/HallDetailes/@hall.Id"><i class="fa-solid fa-circle-arrow-right" style="font-size: 20px;"></i></a>
 *@                </div>
            </div>
        }
    </div>
</div>



<script src="/js/bootstrap.bundle.min.js"></script>



